In [1]:
import sys
print(sys.executable)

/home/christianocean/ocean-protocol-poc/venv/bin/python

In [1]:
import bauplan

In [25]:
sql_query = """
SELECT 
    pickup_datetime,
    dropoff_datetime,
    PULocationID,
    DOLocationID,
    trip_miles,
    trip_time,
    base_passenger_fare,
    tolls,
    sales_tax,
    tips
FROM 
    taxi_fhvhv
WHERE 
    pickup_datetime >= '2022-12-01T00:00:00-05:00' 
    AND pickup_datetime < '2023-01-01T00:00:00-05:00'

LIMIT 20
"""

In [26]:
# instantiate the sdk client 
client = bauplan.Client()
# pass the branch and the sql expression to the method query
current_branch = "main"

# run a query and get in return an arrow table
table = client.query(sql_query, max_rows=None, branch_name=current_branch)
# convert the arrow table into a Pandas DataFrame
data = table.to_pandas()
# display the Pandas DataFrame
data

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,sales_tax,tips
0,2022-12-13 20:14:34+00:00,2022-12-13 20:23:18+00:00,55,150,2.010,524,7.93,0.00,0.70,1.00
1,2022-12-13 20:33:25+00:00,2022-12-13 20:45:42+00:00,150,55,1.520,737,9.54,0.00,0.85,0.00
2,2022-12-13 20:07:50+00:00,2022-12-13 20:23:18+00:00,140,74,3.277,928,14.50,0.00,1.29,3.80
3,2022-12-13 20:46:54+00:00,2022-12-13 21:04:40+00:00,229,33,6.272,1066,39.39,0.00,3.47,0.00
4,2022-12-13 20:05:05+00:00,2022-12-13 20:24:56+00:00,15,92,3.840,1191,17.83,0.00,1.58,0.00
5,2022-12-13 20:46:52+00:00,2022-12-13 20:52:45+00:00,173,173,0.915,353,8.13,0.61,0.75,0.00
6,2022-12-13 20:59:04+00:00,2022-12-13 21:09:35+00:00,129,82,1.255,631,8.81,0.00,0.78,0.00
7,2022-12-13 20:11:51+00:00,2022-12-13 20:27:47+00:00,112,202,3.760,956,18.77,0.00,1.67,2.10
8,2022-12-13 20:47:03+00:00,2022-12-13 21:33:57+00:00,229,265,34.170,2814,114.00,8.30,0.00,0.00
9,2022-12-13 20:17:05+00:00,2022-12-13 20:32:06+00:00,224,170,1.820,901,12.34,0.00,1.10,0.00
10,2022-12-13 20:34:05+00:00,2022-12-13 20:58:18+00:00,170,66,6.360,1453,37.74,0.00,3.35,6.88
11,2022-12-13 20:29:04+00:00,2022-12-13 20:50:00+00:00,255,226,3.573,1256,19.12,0.00,1.70,3.21
12,2022-12-13 20:57:11+00:00,2022-12-13 21:03:43+00:00,226,260,0.981,392,6.85,0.00,0.61,0.00
13,2022-12-13 20:23:55+00:00,2022-12-13 20:37:22+00:00,163,68,2.270,807,14.22,0.00,1.26,0.00
14,2022-12-13 20:42:39+00:00,2022-12-13 21:05:41+00:00,90,141,3.220,1382,50.51,0.00,1.82,0.00
15,2022-12-13 20:06:30+00:00,2022-12-13 20:25:26+00:00,234,186,1.570,1136,25.66,0.00,2.28,0.00
16,2022-12-13 20:34:46+00:00,2022-12-13 20:44:35+00:00,164,233,1.020,589,25.70,0.00,2.28,0.00
17,2022-12-13 20:42:37+00:00,2022-12-13 21:30:17+00:00,92,265,21.730,2861,74.69,0.00,6.63,0.00
18,2022-12-13 20:05:54+00:00,2022-12-13 20:15:26+00:00,82,196,1.190,572,10.14,0.00,0.90,0.00
19,2022-12-13 20:30:27+00:00,2022-12-13 20:39:28+00:00,82,82,1.260,541,7.95,0.00,0.71,0.00

In [27]:
import pandas as pd
import math



df = data
# create time filter on datetime UTC
time_filter = pd.to_datetime('2022-01-01')
time_filter_utc = time_filter.tz_localize('UTC')
# filter df by timestamp
df = df[df['pickup_datetime'] >= time_filter_utc]
# exclude rows with trip_miles = 0
df = df[df['trip_miles'] > 0.0]
# exclude rows with trip_miles > 200
df = df[df['trip_miles'] < 200.0]

# return a Pandas dataframe
df

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,sales_tax,tips
0,2022-12-13 20:14:34+00:00,2022-12-13 20:23:18+00:00,55,150,2.010,524,7.93,0.00,0.70,1.00
1,2022-12-13 20:33:25+00:00,2022-12-13 20:45:42+00:00,150,55,1.520,737,9.54,0.00,0.85,0.00
2,2022-12-13 20:07:50+00:00,2022-12-13 20:23:18+00:00,140,74,3.277,928,14.50,0.00,1.29,3.80
3,2022-12-13 20:46:54+00:00,2022-12-13 21:04:40+00:00,229,33,6.272,1066,39.39,0.00,3.47,0.00
4,2022-12-13 20:05:05+00:00,2022-12-13 20:24:56+00:00,15,92,3.840,1191,17.83,0.00,1.58,0.00
5,2022-12-13 20:46:52+00:00,2022-12-13 20:52:45+00:00,173,173,0.915,353,8.13,0.61,0.75,0.00
6,2022-12-13 20:59:04+00:00,2022-12-13 21:09:35+00:00,129,82,1.255,631,8.81,0.00,0.78,0.00
7,2022-12-13 20:11:51+00:00,2022-12-13 20:27:47+00:00,112,202,3.760,956,18.77,0.00,1.67,2.10
8,2022-12-13 20:47:03+00:00,2022-12-13 21:33:57+00:00,229,265,34.170,2814,114.00,8.30,0.00,0.00
9,2022-12-13 20:17:05+00:00,2022-12-13 20:32:06+00:00,224,170,1.820,901,12.34,0.00,1.10,0.00
10,2022-12-13 20:34:05+00:00,2022-12-13 20:58:18+00:00,170,66,6.360,1453,37.74,0.00,3.35,6.88
11,2022-12-13 20:29:04+00:00,2022-12-13 20:50:00+00:00,255,226,3.573,1256,19.12,0.00,1.70,3.21
12,2022-12-13 20:57:11+00:00,2022-12-13 21:03:43+00:00,226,260,0.981,392,6.85,0.00,0.61,0.00
13,2022-12-13 20:23:55+00:00,2022-12-13 20:37:22+00:00,163,68,2.270,807,14.22,0.00,1.26,0.00
14,2022-12-13 20:42:39+00:00,2022-12-13 21:05:41+00:00,90,141,3.220,1382,50.51,0.00,1.82,0.00
15,2022-12-13 20:06:30+00:00,2022-12-13 20:25:26+00:00,234,186,1.570,1136,25.66,0.00,2.28,0.00
16,2022-12-13 20:34:46+00:00,2022-12-13 20:44:35+00:00,164,233,1.020,589,25.70,0.00,2.28,0.00
17,2022-12-13 20:42:37+00:00,2022-12-13 21:30:17+00:00,92,265,21.730,2861,74.69,0.00,6.63,0.00
18,2022-12-13 20:05:54+00:00,2022-12-13 20:15:26+00:00,82,196,1.190,572,10.14,0.00,0.90,0.00
19,2022-12-13 20:30:27+00:00,2022-12-13 20:39:28+00:00,82,82,1.260,541,7.95,0.00,0.71,0.00

In [29]:
import duckdb
sql_query = f"""
    SELECT * from df
    """
# run the query and return the results as an Arrow Table
new = duckdb.sql(sql_query).arrow()

display = table.to_pandas()
display

,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,tolls,sales_tax,tips
0,2022-12-13 20:14:34+00:00,2022-12-13 20:23:18+00:00,55,150,2.010,524,7.93,0.00,0.70,1.00
1,2022-12-13 20:33:25+00:00,2022-12-13 20:45:42+00:00,150,55,1.520,737,9.54,0.00,0.85,0.00
2,2022-12-13 20:07:50+00:00,2022-12-13 20:23:18+00:00,140,74,3.277,928,14.50,0.00,1.29,3.80
3,2022-12-13 20:46:54+00:00,2022-12-13 21:04:40+00:00,229,33,6.272,1066,39.39,0.00,3.47,0.00
4,2022-12-13 20:05:05+00:00,2022-12-13 20:24:56+00:00,15,92,3.840,1191,17.83,0.00,1.58,0.00
5,2022-12-13 20:46:52+00:00,2022-12-13 20:52:45+00:00,173,173,0.915,353,8.13,0.61,0.75,0.00
6,2022-12-13 20:59:04+00:00,2022-12-13 21:09:35+00:00,129,82,1.255,631,8.81,0.00,0.78,0.00
7,2022-12-13 20:11:51+00:00,2022-12-13 20:27:47+00:00,112,202,3.760,956,18.77,0.00,1.67,2.10
8,2022-12-13 20:47:03+00:00,2022-12-13 21:33:57+00:00,229,265,34.170,2814,114.00,8.30,0.00,0.00
9,2022-12-13 20:17:05+00:00,2022-12-13 20:32:06+00:00,224,170,1.820,901,12.34,0.00,1.10,0.00
10,2022-12-13 20:34:05+00:00,2022-12-13 20:58:18+00:00,170,66,6.360,1453,37.74,0.00,3.35,6.88
11,2022-12-13 20:29:04+00:00,2022-12-13 20:50:00+00:00,255,226,3.573,1256,19.12,0.00,1.70,3.21
12,2022-12-13 20:57:11+00:00,2022-12-13 21:03:43+00:00,226,260,0.981,392,6.85,0.00,0.61,0.00
13,2022-12-13 20:23:55+00:00,2022-12-13 20:37:22+00:00,163,68,2.270,807,14.22,0.00,1.26,0.00
14,2022-12-13 20:42:39+00:00,2022-12-13 21:05:41+00:00,90,141,3.220,1382,50.51,0.00,1.82,0.00
15,2022-12-13 20:06:30+00:00,2022-12-13 20:25:26+00:00,234,186,1.570,1136,25.66,0.00,2.28,0.00
16,2022-12-13 20:34:46+00:00,2022-12-13 20:44:35+00:00,164,233,1.020,589,25.70,0.00,2.28,0.00
17,2022-12-13 20:42:37+00:00,2022-12-13 21:30:17+00:00,92,265,21.730,2861,74.69,0.00,6.63,0.00
18,2022-12-13 20:05:54+00:00,2022-12-13 20:15:26+00:00,82,196,1.190,572,10.14,0.00,0.90,0.00
19,2022-12-13 20:30:27+00:00,2022-12-13 20:39:28+00:00,82,82,1.260,541,7.95,0.00,0.71,0.00

In [23]:
import duckdb
sql_query = f"""
    SELECT 
        COUNT(df.pickup_datetime) AS number_of_trips, 
        df.PULocationID,
        taxi_zones.Borough, 
        taxi_zones.Zone
    FROM df
    JOIN taxi_zones 
    ON df.PULocationID = taxi_zones.LocationID
    GROUP BY 
        df.PULocationID, 
        taxi_zones.Borough, 
        taxi_zones.Zone
    ORDER BY 
        number_of_trips DESC;
    """
# run the query and return the results as an Arrow Table
new = duckdb.sql(sql_query).arrow()


new

CatalogException: Catalog Error: Table with name taxi_zones does not exist!
Did you mean "temp.information_schema.tables"?